*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: grid;

  padding: 133px 30px;
  max-width: 1200px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  max-width: 1140px;
  gap: 30px;
}

.result {
  padding-bottom: 225px;
  max-width: 711px;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 100%;
  position: relative;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox::before:active{
  content: "";
  width: 18px;
  height: 18px;
  background-color: #FFF;
  justify-self: center;
  align-self: center;

}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__textfield {
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  background-color: transparent;
  width: 225px;
  height: 27px;

  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus{
  outline: none;
}

.button {
  background-color: transparent;
  padding: 6px 73.5px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-end;
}

.search-form__submit-button{

}

.content__details {
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__list {
  max-height: 534px;
  overflow-y: auto;
  position: relative;
}

.content__list .content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-title {
  padding-bottom: 6px;
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  width: 100%;
  height: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
